#genral
ENV=development
PORT=3000
SERVER_URL=http://localhost:3000

#database
DATABASE_URL="mongodb://localhost:27017"

#migration
MIGRATE_MONGO_URI="mongodb://localhost:27017/nodejs-production-setup"
MIGRATE_AUTOSYNC=true